* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
code {
  background-color: rgba(0,0,0,0.1);
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
thead {
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.04);
}
thead td,
thead th {
  padding: 8px 15px;
}
tbody tr td,
tbody tr th {
  border-top: solid 1px rgba(0,0,0,0.05);
}
tbody tr:first-child td,
tbody tr:first-child th {
  border-top: none;
}
tbody tr:hover {
  background-color: rgba(0,0,0,0.02);
}
th {
  font-weight: 500;
  text-align: left;
  color: rgba(0,0,0,0.66);
}
td {
  padding: 15px;
}
@media (max-width: 600px) {
  td,
  th {
    padding: 10px;
  }
}
.em-error-message {
  min-height: 1.5em;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
button.em-button,
a.em-button {
  display: inline-block;
  padding: 10px 15px;
  min-width: 100px;
  color: rgba(0,0,0,0.8);
  font-weight: 700;
  text-shadow: -1px 1px rgba(255,255,255,0.2);
  border-radius: 5px;
}
button.em-button:focus,
a.em-button:focus {
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
button.em-button-link {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
}
button.em-button:disabled,
button.em-button-link:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.em-textbox,
.em-textarea {
  display: inline-block;
  width: 345px;
}
.em-textbox label,
.em-textarea label {
  margin: 0 0 0 2px;
  display: block;
}
.em-textbox input,
.em-textarea input,
.em-textbox textarea,
.em-textarea textarea {
  display: block;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.05);
  border-radius: 5px;
}
.em-textbox input:focus,
.em-textarea input:focus,
.em-textbox textarea:focus,
.em-textarea textarea:focus {
  background-color: rgba(0,0,0,0.03);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
.em-textbox input:disabled,
.em-textarea input:disabled,
.em-textbox textarea:disabled,
.em-textarea textarea:disabled {
  background: none;
  cursor: not-allowed;
}
.em-textbox textarea,
.em-textarea textarea {
  height: 5em;
}
.em-textbox p,
.em-textarea p {
  color: #808080;
  margin: 5px 0 0 2px;
}
.em-textbox p:first-child,
.em-textarea p:first-child {
  min-height: 1.5em;
}
.em-checkbox {
  display: flex;
  position: relative;
  cursor: pointer;
}
.em-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.em-checkbox > span {
  display: inline-block;
  vertical-align: top;
}
.em-checkbox input[type="checkbox"] + span {
  max-height: 2.2em;
  padding: 6px 12px 10px 12px;
  border: solid 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  transition: background-color 250ms ease-in;
}
.em-checkbox span span.em-checkbox-check {
  display: block;
  width: 10px;
  height: 20px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.em-checkbox input[type="checkbox"] + span span.em-checkbox-check {
  opacity: 0;
}
.em-checkbox input[type="checkbox"]:checked + span {
  border: solid 2px rgba(0,0,0,0);
}
.em-checkbox input[type="checkbox"]:checked + span span.em-checkbox-check {
  opacity: 1;
}
.em-checkbox input[type="checkbox"]:focus + span {
  outline: none;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
.em-checkbox input[type="checkbox"]:disabled + span,
.em-checkbox input[type="checkbox"]:disabled + span + span {
  opacity: 0.5;
  cursor: not-allowed;
}
.em-checkbox span:nth-child(3) {
  margin: 6px 0 0 10px;
}
.em-selection input {
  display: none;
}
.em-selection input[type="radio"] + span {
  display: inline-block;
  margin: 10px 10px 0 0;
  color: #000;
  opacity: 0.7;
  cursor: pointer;
}
.em-selection input[type="radio"] + span:hover {
  opacity: 1;
}
.em-selection input[type="radio"]:checked + span {
  opacity: 1;
}
.em-selection input[type="radio"]:disabled + span {
  opacity: 0.5;
  cursor: not-allowed;
}
.em-dropdown {
  position: relative;
  width: 345px;
}
.em-dropdown p {
  color: #808080;
  margin: 5px 0 0 2px;
}
.em-dropdown p:first-child {
  min-height: 1.5em;
}
.em-dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.em-dropdown-selection {
  position: relative;
  display: flex;
  margin: 5px 0 0 0;
  align-items: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 5px;
  cursor: pointer;
  z-index: 20;
}
.em-dropdown-selection:focus {
  background-color: rgba(0,0,0,0.03);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  outline: none;
}
.em-dropdown-selection span:first-child {
  flex: 1;
  white-space: nowrap;
}
.em-dropdown-selection span:nth-child(2) {
  flex: none;
  padding: 0 5px 5px 0;
}
.em-dropdown-selection-empty {
  color: #848484;
}
.em-dropdown-chevron {
  display: inline-block;
  width: 9px;
  height: 9px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.em-dropdown-options {
  position: absolute;
  margin: 9px 0 0 0;
  width: 345px;
  max-width: 100%;
  max-height: 168px;
  overflow-y: scroll;
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  z-index: 20;
}
.em-dropdown-options input {
  display: none;
}
.em-dropdown-options label {
  display: block;
  padding: 10px;
  color: #000;
  opacity: 0.7;
  cursor: pointer;
  z-index: 20;
}
.em-dropdown-options label:hover {
  background-color: rgba(0,0,0,0.05);
  opacity: 1;
}
.em-dropdown-options label:focus {
  background-color: rgba(0,0,0,0.2);
  opacity: 1;
  outline: none;
}
.em-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 50;
}
.em-modal {
  position: relative;
  margin: 50px auto 0 auto;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow-y: scroll;
}
.em-modal > * {
  position: relative;
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
}
.em-modal .em-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  z-index: 101;
}
@media (max-width: 600px), (max-height: 600px) {
  .em-modal {
    margin-top: 15px;
  }
}
.em-frame {
  height: 100vh;
}
.em-frame-main,
.em-frame-nav {
  vertical-align: top;
}
.em-frame-main {
  display: inline-block;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
}
.em-frame-mobilenavopener {
  display: none;
  width: 100%;
  padding: 20px;
  text-align: right;
}
.em-frame-nav {
  display: inline-block;
  width: 20%;
  height: 100vh;
}
.em-frame-nav.em-frame-nav-tall {
  overflow-y: scroll;
}
.em-frame-nav .em-frame-nav-close {
  display: none;
  margin-bottom: 20px;
  text-align: right;
}
.em-frame-nav .em-frame-nav-close span {
  padding: 0px;
}
.em-frame-nav nav {
  margin: auto;
  max-width: 200px;
  padding: 40px 20px 20px 20px;
  margin: auto;
}
.em-frame-nav nav div {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}
.em-frame-nav nav ul {
  padding: 0;
  list-style: none;
}
.em-frame-nav nav ul li {
  padding: 8px 0;
  overflow: hidden;
  overflow-wrap: break-word;
}
.em-frame-nav nav ul li .em-frame-nav-active-link {
  border-bottom: solid 2px;
}
@media (min-width: 1200px) {
  .em-frame-main {
    padding-right: 12%;
  }
}
@media (min-width: 1500px) {
  .em-frame-nav {
    padding-left: 5%;
  }
  .em-frame-main {
    padding-right: 20%;
  }
}
@media (max-width: 700px) {
  .em-frame-main {
    width: 100%;
    height: auto;
    overflow: visible;
  }
  .em-frame-mobilenavopener {
    display: block;
  }
  .em-frame-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    z-index: 100;
    background-color: #e5e5e5;
  }
  .em-frame-nav.em-frame-nav-closed {
    display: none;
  }
  .em-frame-nav nav {
    padding: 20px;
    max-width: 400px;
  }
  .em-frame-nav nav .em-frame-nav-close {
    display: block;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
.em-textbox,
.em-textarea,
.em-checkbox {
  margin: 0;
}
.em-row,
.em-row-reverse {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
  max-width: 750px;
}
.em-row > *,
.em-row-reverse > * {
  padding: 15px;
}
.em-row-align-items-center {
  align-items: center;
}
.em-row-reverse {
  justify-content: flex-end;
}
.em-col-auto {
  flex: auto;
}
.em-col-1 {
  width: 8.333333333333334%;
}
.em-col-2 {
  width: 16.666666666666668%;
}
.em-col-3 {
  width: 25%;
}
.em-col-4 {
  width: 33.333333333333336%;
}
.em-col-5 {
  width: 41.666666666666664%;
}
.em-col-6 {
  width: 50%;
}
.em-col-7 {
  width: 58.333333333333336%;
}
.em-col-8 {
  width: 66.66666666666667%;
}
.em-col-9 {
  width: 75%;
}
.em-col-10 {
  width: 83.33333333333333%;
}
.em-col-11 {
  width: 91.66666666666667%;
}
.em-col-12 {
  width: 100%;
}
body,
button,
textarea,
input[type=text],
input[type=password],
input[type=number] {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
body {
  color: #3c3c3c;
  background-color: #fff;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
.em-error-message {
  color: #dc46a0;
}
button.em-button,
a.em-button {
  background-color: #8cc896;
}
button.em-button-danger,
a.em-button-danger {
  background-color: #dc46a0;
}
button.em-button-secondary,
a.em-button-secondary {
  background-color: #c8c8c8;
}
button.em-button-link {
  color: #4193f2;
  font-size: 18px;
}
button.em-button-link:focus {
  text-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.em-textbox > label,
.em-textarea > label,
.em-dropdown > label {
  font-size: 14px;
}
.em-textbox p,
.em-textarea p,
.em-dropdown p {
  font-size: 14px;
}
.em-textbox p.em-error,
.em-textarea p.em-error,
.em-dropdown p.em-error {
  color: #dc46a0;
}
.em-checkbox input[type="checkbox"]:checked + span {
  background-color: #8cc896;
}
.em-selection input[type="radio"]:checked + span {
  color: #8cc896;
}
.em-dropdown-options label.em-dropdown-options-selected {
  background-color: #8cc896;
}
a {
  color: #4193f2;
}
.em-color-red {
  color: #dc46a0;
}
.em-color-green {
  color: #8cc896;
}
.em-color-blue {
  color: #4193f2;
}
